In [8]:
import pandas as pd
import pyarrow.parquet as pq
import os

read file in each days

In [7]:
folders_of_table = "Desktop/Tennis_project/202405/20240501/data/raw/"
folders_path = [os.path.join(folders_of_table, file) for file in os.listdir(folders_of_table) ]
folders_path

FileNotFoundError: [Errno 2] No such file or directory: 'Desktop/Tennis_project/202405/20240501/data/raw/'

In [15]:
source = "/home/mostafa2rz/Desktop/Tennis_project/202405/20240501/data/raw/raw_odds_parquet"
file_paths = [os.path.join(source, file) for file in os.listdir(source) ]

df = pd.read_parquet("Desktop/Tennis_project/202405/20240501/data/raw/raw_match_parquet/away_team_12260076.parquet", engine= 'pyarrow') 
df

FileNotFoundError: [Errno 2] No such file or directory: 'Desktop/Tennis_project/202405/20240501/data/raw/raw_match_parquet/away_team_12260076.parquet'

In [11]:
source = "/home/mostafa2rz/Desktop/Tennis_project/202405/20240501/data/raw/raw_odds_parquet"
file_paths = [os.path.join(source, file) for file in os.listdir(source) ]

df = [pd.read_parquet(file, engine= 'pyarrow') for file in file_paths ]
result_df = pd.concat([df[i] for i in range(len(df))], ignore_index=True)
result_df

,match_id,market_id,market_name,is_live,suspended,initial_fractional_value,fractional_value,choice_name,choice_source_id,winnig,change
0,12298718,1,full_time,False,True,3/2,18/3,1,410668724,True,0
1,12298718,1,full_time,False,True,5/5,14/9,2,410668772,False,0
2,12298279,1,full_time,True,True,19/11,6/8,1,407905399,True,0
3,12298279,1,full_time,True,True,7/9,13/6,2,407905428,False,0
4,12297590,1,full_time,False,False,14/2,18/11,1,406597126,False,0
...,...,...,...,...,...,...,...,...,...,...,...
1335,12296151,1,full_time,False,True,13/10,16/2,2,403464758,True,0
1336,12298088,1,full_time,False,True,5/8,2/11,1,407470540,False,0
1337,12298088,1,full_time,False,True,15/5,8/3,2,407470580,False,0
1338,12295145,1,full_time,False,False,5/4,2/7,1,400003456,False,0
1339,12295145,1,full_time,False,False,8/9,6/8,2,400003556,True,0

In [18]:
source = "/home/mostafa2rz/Desktop/Tennis_project/202405"
folder_list = os.listdir(source)
folders_of_date = [os.path.join(source , file) for file in folder_list  ]
folders_of_date

['/home/mostafa2rz/Desktop/Tennis_project/202405/20240507',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240512',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240529',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240524',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240511',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240523',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240521',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240513',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240526',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240516',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240504',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240510',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240527',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240505',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240531',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240520',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240502',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240508',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240518',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240522',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240515',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240519',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240525',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240509',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240528',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240514',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240517',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240501',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240503',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240530',
 '/home/mostafa2rz/Desktop/Tennis_project/202405/20240506']

In [21]:
source = "/home/mostafa2rz/Desktop/Tennis_project/202405"
folder_list = os.listdir(source)
folders_of_date = [os.path.join(source , file) for file in folder_list  ]
dfs = {}
for folder , list in folders_of_date , folder_list :
    folders_of_table = folder + "/data/raw"
    tables_path = [os.path.join(folders_of_table, file) for file in os.listdir(folders_of_table) ]
    i = 0
    for table in tables_path:
    
        file_paths = [os.path.join(table, file) for file in os.listdir(table) ]
        df = [pd.read_parquet(file, engine= 'pyarrow') for file in file_paths ]
        result_df = pd.concat([df[i] for i in range(len(df))], ignore_index=True)
        result_df['date'] = list
        dfs[f'df_{i}'] = result_df
        for i in range(len(dfs)):
            exec(f"df_{i} = dfs['df_{i}']")
        i += 1

    
    df[list] =pd.concat([df_0[k] for k in range(len(list))], ignore_index=True)
    df[list] =pd.concat([df_1[k] for k in range(len(list))], ignore_index=True)
    df[list] =pd.concat([df_2[k] for k in range(len(list))], ignore_index=True)
    df[list] =pd.concat([df_3[k] for k in range(len(list))], ignore_index=True)
    df[list] =pd.concat([df_4[k] for k in range(len(list))], ignore_index=True)
    df[list] =pd.concat([df_5[k] for k in range(len(list))], ignore_index=True)

ValueError: too many values to unpack (expected 2)

this method is expierd

In [22]:
    for x in range(len(dfs)):
        dfx[f'df_{list}'] = pd.concat([dfs['df_{x}'] for k in range(len(list))], ignore_index=True)
        exec(f"df_{x} = dfs['df_{x}']")

/tmp/ipykernel_15931/2879743630.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result_df = pd.concat([df[i] for i in range(len(df))], ignore_index=True)

df_0:
       match_id  set_id  game_id  point_id home_point away_point  \
0      12291702       3        9         0          0         15
1      12291702       3        9         1          0         30
2      12291702       3        9         2         15         30
3      12291702       3        9         3         15         40
4      12291702       3        8         0          0         15
...         ...     ...      ...       ...        ...        ...
62309  12295593       1        1         0          0         15
62310  12295593       1        1         1         15         15
62311  12295593       1        1         2         15         30
62312  12295593       1        1         3         30         30
62313  12295593       1        1         4         30         40

       point_description  home_point_type  away_point_type  home_score  \
0                      0                5                1           3
1                      0                5                1           3
2                      0                1                5           3
3                      0                5                3           3
4                      0                5                1           3
...                  ...              ...              ...         ...
62309                  0                5                1           0
62310                  0                1                5           0
62311                  0                5                1           0
62312                  0                1                5           0
62313                  0                5                1           0

       away_score  serving  scoring      date
0               6        2        2  20240501
1               6        2        2  20240501
2               6        2        2  20240501
3               6        2        2  20240501
4               5        1        2  20240501
...           ...      ...      ...       ...
62309           1        2        2  20240501
62310           1        2        2  20240501
62311           1        2        2  20240501
62312           1        2        2  20240501
62313           1        2        2  20240501

[62314 rows x 14 columns]


df_1:
     match_id  home_vote  away_vote      date
0    12295046         34          6  20240501
1    12291702        126        334  20240501
2    12287007         62        586  20240501
3    12293730          0         26  20240501
4    12297641         22         58  20240501
..        ...        ...        ...       ...
591  12293758         44         14  20240501
592  12295538          0          0  20240501
593  12298151         42          2  20240501
594  12292490         36         40  20240501
595  12293470         12         42  20240501

[596 rows x 4 columns]


df_2:
      match_id  market_id market_name  is_live  suspended  \
0     12298718          1   full_time    False       True
1     12298718          1   full_time    False       True
2     12298279          1   full_time     True       True
3     12298279          1   full_time     True       True
4     12297590          1   full_time    False      False
...        ...        ...         ...      ...        ...
1335  12296151          1   full_time    False       True
1336  12298088          1   full_time    False       True
1337  12298088          1   full_time    False       True
1338  12295145          1   full_time    False      False
1339  12295145          1   full_time    False      False

     initial_fractional_value fractional_value choice_name  choice_source_id  \
0                         3/2             18/3           1         410668724
1                         5/5             14/9           2         410668772
2                       19/11              6/8           1         407905399
3                         7/9             13/6           2         407905428
4                        14/2            18/11           1         406597126
...                       ...              ...         ...               ...
1335                    13/10             16/2           2         403464758
1336                      5/8             2/11           1         407470540
1337                     15/5              8/3           2         407470580
1338                      5/4              2/7           1         400003456
1339                      8/9              6/8           2         400003556

     winnig  change      date
0      True       0  20240501
1     False       0  20240501
2      True       0  20240501
3     False       0  20240501
4     False       0  20240501
...     ...     ...       ...
1335   True       0  20240501
1336  False       0  20240501
1337  False       0  20240501
1338  False       0  20240501
1339   True       0  20240501

[1340 rows x 12 columns]


df_3:
       match_id period statistic_category_name              statistic_name  \
0      12297674    ALL                 service                        aces
1      12297674    ALL                 service               double_faults
2      12297674    ALL                 service                 first_serve
3      12297674    ALL                 service                second_serve
4      12297674    ALL                 service          first_serve_points
...         ...    ...                     ...                         ...
32818  12293472    2ND                  return   first_serve_return_points
32819  12293472    2ND                  return  second_serve_return_points
32820  12293472    2ND                  return         return_games_played
32821  12293472    2ND                  return      break_points_converted
32822  12293472    2ND           miscellaneous                   tiebreaks

         home_stat     away_stat  compare_code statistic_type value_type  \
0                1             0             1       positive      event
1                4             3             1       negative      event
2      43/88 (49%)  92/110 (84%)             2       positive       team
3      41/45 (91%)   15/18 (83%)             1       positive       team
4      25/43 (58%)   54/92 (59%)             2       positive       team
...            ...           ...           ...            ...        ...
32818    4/9 (44%)    6/26 (23%)             1       positive       team
32819   8/13 (61%)   11/17 (64%)             2       positive       team
32820            3             4             2       positive      event
32821            2             0             1       positive      event
32822            0             0             3       positive      event

       home_value  away_value  home_total  away_total      date
0               0           0         NaN         NaN  20240501
1               2           4         NaN         NaN  20240501
2              76         118        88.0       110.0  20240501
3              10           8        45.0        18.0  20240501
4              12           2        43.0        92.0  20240501
...           ...         ...         ...         ...       ...
32818           0          10         9.0        26.0  20240501
32819          14           6        13.0        17.0  20240501
32820           2           2         NaN         NaN  20240501
32821           0           0         NaN         NaN  20240501
32822           0           0         NaN         NaN  20240501

[32823 rows x 14 columns]


df_4:
       match_id  set_num  game_num  value  break_occurred      date
0      12295833        1         1   0.00            True  20240501
1      12295833        1         2 -35.20            True  20240501
2      12295833        1         3   2.00            True  20240501
3      12295833        1         4   6.00            True  20240501
4      12295833        1         5   0.00           False  20240501
...         ...      ...       ...    ...             ...       ...
11340  12298445        2         6  18.18           False  20240501
11341  12298445        2         7  19.14            True  20240501
11342  12298445        2         8 -26.42           False  20240501
11343  12298445        2         9 -22.56           False  20240501
11344  12298445        2        10   2.00           False  20240501

[11345 rows x 6 columns]


df_5:
      match_id  round_id                                     name  \
0     12295106       6.0                              Round of 32
1     12291706       NaN                                      NaN
2     12293459       NaN                                      NaN
3     12293564       6.0                              Round of 32
4     12293734       NaN  ITF Great Britain F10, Men Singles 2024
...        ...       ...                                      ...
5735  12293541       NaN                                      NaN
5736  12292878       NaN                                      NaN
5737  12295820       NaN                                      NaN
5738  12293537       NaN                                      NaN
5739  12288048       NaN                                Arango E.

                 slug  cup_round_type  tournament_id tournament_name  \
0         round-of-32            16.0            NaN             NaN
1                 NaN             NaN       129531.0   Lleida, Spain
2                 NaN             NaN            NaN             NaN
3         round-of-32            16.0            NaN             NaN
4                 NaN             NaN            NaN             NaN
...               ...             ...            ...             ...
5735              NaN             NaN            NaN             NaN
5736              NaN             NaN            NaN             NaN
5737              NaN             NaN            NaN             NaN
5738              NaN             NaN            NaN             NaN
5739  arango-emiliana             NaN            NaN             NaN

     tournament_slug tournament_unique_id tournament_category_name  ...  \
0                NaN                  NaN                      NaN  ...
1       lleida-spain                 None         Challenger Women  ...
2                NaN                  NaN                      NaN  ...
3                NaN                  NaN                      NaN  ...
4                NaN                  NaN                      NaN  ...
...              ...                  ...                      ...  ...
5735             NaN                  NaN                      NaN  ...
5736             NaN                  NaN                      NaN  ...
5737             NaN                  NaN                      NaN  ...
5738             NaN                  NaN                      NaN  ...
5739             NaN                  NaN                      NaN  ...

     total_prize  player_id current_rank  name_code   country  \
0            NaN        NaN          NaN        NaN       NaN
1            NaN        NaN          NaN        NaN       NaN
2            NaN        NaN          NaN        NaN       NaN
3            NaN        NaN          NaN        NaN       NaN
4            NaN        NaN          NaN        NaN       NaN
...          ...        ...          ...        ...       ...
5735         NaN        NaN          NaN        NaN       NaN
5736         NaN        NaN          NaN        NaN       NaN
5737         NaN        NaN          NaN        NaN       NaN
5738         NaN        NaN          NaN        NaN       NaN
5739    382565.0   198197.0        115.0        ARA  Colombia

             full_name city stadium  venue_id      date
0                  NaN  NaN     NaN       NaN  20240501
1                  NaN  NaN     NaN       NaN  20240501
2                  NaN  NaN     NaN       NaN  20240501
3                  NaN  NaN     NaN       NaN  20240501
4                  NaN  NaN     NaN       NaN  20240501
...                ...  ...     ...       ...       ...
5735               NaN  NaN     NaN       NaN  20240501
5736               NaN  NaN     NaN       NaN  20240501
5737               NaN  NaN     NaN       NaN  20240501
5738               NaN  NaN     NaN       NaN  20240501
5739  Arango, Emiliana  NaN     NaN       NaN  20240501

[5740 rows x 63 columns]

In [23]:
for i in range(len(dfs)):
    exec(f"df_{i} = dfs['df_{i}']")
df_1

     match_id  home_vote  away_vote      date
0    12295046         34          6  20240501
1    12291702        126        334  20240501
2    12287007         62        586  20240501
3    12293730          0         26  20240501
4    12297641         22         58  20240501
..        ...        ...        ...       ...
591  12293758         44         14  20240501
592  12295538          0          0  20240501
593  12298151         42          2  20240501
594  12292490         36         40  20240501
595  12293470         12         42  20240501

[596 rows x 4 columns]